<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript">
            
        </script>

        <title>QuotiongDojo</title>
    </head>

    <body>
        <div class="display"></div>
            <a href="/">Home</a>
            <h1>Check out all the awesome quotes!</h1>
            <% for (var i in quotes) { %>
              <h3>Author: <%= quotes[i].name %></h3>
              <h2>Quote: <%= quotes[i].quote %> </h2>
              <p><%= quotes[i].createdAt %></p>
            <% } %>
        </div>
    </body>

</html>